body{
    font-size: 1.6rem;
    font-family: var(--font-overpass);

    background-color: white;
}

hr{
    width: 100%;
    margin-block-end: 3rem;

    border: solid 0.1rem #EFEFF2;
}

header{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 111.5rem;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}
.header__logo{
    display: block;

    width: 10.5rem;
    height: 6rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.header__navbar{
    position: absolute;
    left: 0;
    right: 0;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    width: 80%;
    max-width: 36rem;

    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.26);
}
.header__navbar--inactive{
    display: none;
}
.navbar__list{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-block-end: 3rem;
}
.navbar__item{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    

    list-style: none;
    font-weight: 700;

    color: var(--very-dark-blue-headings);
    cursor: pointer;
}
.navbar__item_arrow{
    display: block;

    width: 1.5rem;
    height: 1.5rem;
    margin-inline-start: 1rem;
    
    background-image: url('../images/icon-arrow-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.item__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 0;
    padding: 2rem;
    margin: 0;
    margin-block-start: 1rem;

    background-color: #EFEFF2;
    border-radius: 0.8rem;
}
.item__list--inactive{
    display: none;
}
.item__item{
    list-style: none;
}
.item__item a{
    text-decoration: none;
    font-weight: 500;

    color: var(--very-dark-greyish-blue-body-text);
}
.header__login_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}
.login__login_button{
    text-decoration: none;
    font-weight: 700;

    color: var(--very-dark-blue-headings);
}
.login__sign_up_button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 13rem;

    font-weight: 700;
    text-decoration: none;

    border-radius: 3rem;
    color: white;
    background: linear-gradient(90deg, var(--gradient-CTA-very-ligh-red) 0%, var(--gradient-CTA-light-red) 100%);
}
.header__burger_button{
    width: 5rem;
    height: 5rem;

    background-image: url('../images/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
.header__burger_button--active{
    background-image: url('../images/icon-close.svg') !important;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10rem;

    margin-block-end: 10rem;
}
.main__frontpage{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60rem;

    border-end-start-radius: 10rem;
    background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(135deg, var(--gradient-CTA-very-ligh-red), var(--gradient-CTA-light-red));
    background-position: -33rem -23rem, top left ;
    background-repeat: no-repeat;
    background-size: 130rem, auto;
}
.frontpage__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 32rem;
}
.frontpage__title{
    padding: 0 2rem;
    margin-block-end: 1.5rem;

    font-size: 3rem;
    text-align: center;
    font-weight: 600;

    color: white;
}
.frontpage__text{
    padding: 0 3.5rem;
    margin-block-end: 4rem;

    text-align: center;
    font-weight: 300;

    color: white;
}
.frontpage__CTA_container{
    display: flex;
    gap: 1.5rem;
}
.frontpage__start_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 14rem;
    height: 5rem;

    font-family: var(--font-ubuntu);
    text-decoration: none;
    font-weight: 700;

    border-radius: 2.5rem;
    color: var(--light-red);
    background-color: white;
}
.frontpage__learn_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 14rem;
    height: 5rem;

    font-family: var(--font-ubuntu);
    text-decoration: none;
    font-weight: 700;

    border-radius: 2.5rem;
    color: white;
    background-color: transparent;
    border: solid 0.1rem white;
}
.main__second_view{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_view__container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title'
                        'image'
                        'info';
    gap: 1rem;
}
.second_view__title{
    text-align: center;

    color: var(--very-dark-blue-headings);
}
.second_view__information_container{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 0 3rem;
}
.information_container__block{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.information_container__title{
    padding: 0 5rem;

    text-align: center;
    font-size: 2.2rem;

    color: var(--very-dark-blue-headings);
}
.information_container__text{
    text-align: center;

    color: var(--very-dark-greyish-blue-body-text);
}
.second_view__image{
    grid-area: image;

    width: 100%;
    height: 33rem;

    background-image: url('../images/illustration-editor-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main__third_view{
    padding-block-start: 13rem;
}
.third_view__container{
    position: relative;
    display: flex;
    justify-content: center;

    height: 58rem;
    padding: 21rem 3rem 12rem 3rem;

    border-top-right-radius: 10rem;
    border-end-start-radius: 10rem;
    background-image: url('../images/bg-pattern-circles.svg'), linear-gradient(0deg, var(--gradient-very-dark-desaturated-blue), var(--gradient-very-dark-gray-blue));
    background-size: 150%, auto;
    background-position: 50% -20rem, top left;
    background-repeat: no-repeat;
}
.third_view__image{
    position: absolute;
    top: -25%;


    width: 32rem;
    height: 34rem;

    background-image: url('../images/illustration-phones.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.third_view__information_container{

}
.third_view__title{
    margin-block-end: 2rem;

    font-size: 3.4rem;
    font-weight: 500;
    text-align: center;

    color: white;
}
.third_view__text{
    text-align: center;

    color: white;
}
.main__fourth_view{
    
}
.fourth_view__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 0 3rem;
}
.fourh_view__image{
    height: 34rem;
    width: 90%;
    max-width: 37rem;

    background-image: url('../images/illustration-laptop-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;

}
.fourth_view__information_container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
footer{
    width: 100%;
    padding: 5rem 0;
    
    border-top-right-radius: 10rem;
    background-color: var(--very-dark-blue-footer-text);
}
.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

}
.footer__logo_container{
    
}
.footer__logo{
    display: block;

    width: 10.5rem;
    height: 6rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__title{
    font-weight: 500;

    color: white;
}
.footer__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    margin: 0;
    padding: 0;
    margin-block-start: 2rem;
}
.footer__item{
    list-style:none;
}
.footer__item a{
    text-decoration: none;
    color: var(--grayish-blue-footer-text);
}
