body{
    font-size: 1.6rem;
    font-family: var(--font-overpass);

    background-color: white;
}

hr{
    display: none;
}

header{
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 10.5rem auto;
    grid-template-rows: auto;
    justify-content: unset;
    align-items: center;
    column-gap: 5rem;

    width: 100%;
    max-width: 115rem;
    margin-left: auto;
    margin-right: auto;

}
.header__navbar{
    position: unset;
    left: unset;
    right: unset;
    top: unset;

    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-left: unset;
    margin-right: unset;
    padding: unset;
    width: 100%;
    max-width: unset;

    border-radius: unset;
    background-color: transparent;
    box-shadow: unset;
}
.header__navbar--inactive{
    display: unset;
}
.navbar__list{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    margin-block-end: unset;
}
.navbar__item{
    position: relative;

    color: white;
}
.navbar__item_arrow{ 
    background-image: url('../images/icon-arrow-light.svg');
}
.item__list{
    position: absolute;
    top: 2rem;
    left: -2rem;
    align-items: start;

    width: 16rem;
}
.header__login_container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.login__login_button{
    color: white;
}
.login__sign_up_button{
    color: var(--light-red);
    background: white;
    transition: all ease-in 0.1s;
}
.header__burger_button{
    display: none;
}
main{
    gap: 5rem;
}
.main__frontpage{
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, var(--gradient-CTA-very-ligh-red), var(--gradient-CTA-light-red));
    background-position: -30rem -90rem, top left ;
    background-size: 230rem, auto;
}
.frontpage__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 80rem;
}
.frontpage__title{
    margin-block-end: unset;

    font-size: 5rem;
    line-height: 5rem;
}
.frontpage__text{
    margin-block-end: 2rem;
}
.main__second_view{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90rem;

    background-image: url('../images/illustration-editor-desktop.svg');
    background-position: top 10rem right -25rem;
    background-repeat: no-repeat;
    background-size: auto 80rem;
}
.second_view__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'title title'
                        'info image';
    gap: unset;
    row-gap: 10rem;

    width: 110rem;
}
.second_view__title{
    grid-area: title;

    text-align: center;
    font-size: 4rem;
}
.second_view__information_container{
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    padding: 0 5rem 0 0;
}
.information_container__block{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.information_container__title{
    padding: 0 0rem;

    text-align: left;
    font-size: 2.2rem;

    color: var(--very-dark-blue-headings);
}
.information_container__text{
    text-align: left;

    color: var(--very-dark-greyish-blue-body-text);
}
.second_view__image{
    grid-area: image;

    width: 100%;
    height: 33rem;

    background-image: url('../images/illustration-editor-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
.main__third_view{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40rem;
    padding-block-start: unset;

    border-top-right-radius: 10rem;
    border-end-start-radius: 10rem;
    background-image: url('../images/bg-pattern-circles.svg'), linear-gradient(-90deg, var(--gradient-very-dark-desaturated-blue), var(--gradient-very-dark-gray-blue));
    background-size: auto, auto;
    background-position: top -50rem left -21rem, top left;
    background-repeat: no-repeat;
}
.third_view__container{
    position: relative;
    display: grid;
    grid-template-columns: 48rem auto;
    grid-template-rows: auto;
    grid-template-areas: 'image info';
    justify-content: unset;
    column-gap: 10rem;

    height: 100%;
    width: 110rem;
    padding: unset;

    border-top-right-radius: unset;
    border-end-start-radius: unset;
    background-image:unset;
}
.third_view__image{
    position: absolute;
    top: -6rem;

    width: 48rem;
    height: 52rem;

    background-image: url('../images/illustration-phones.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: top -1.7rem left -4rem;
}
.third_view__information_container{
    grid-area: info;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third_view__title{
    text-align: left;
}
.third_view__text{
    text-align: left;
}
.main__fourth_view{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80rem;

    background-image: url('../images/illustration-laptop-desktop.svg');
    background-position: top 0 left -27.5rem;
    background-repeat: no-repeat;

}
.fourth_view__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: unset;
    align-items: unset;
    gap: 0rem;

    width: 110rem;
    height: 40rem;
    padding: 1rem 5rem;
}
.fourh_view__image{
    height: unset;
    width: unset;
    max-width: unset;

    background-image: unset;
    background-position: center;
    background-repeat: no-repeat;

}
.fourth_view__information_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 36rem;
    padding: 5rem 0;
    
    border-top-right-radius: 10rem;
    background-color: var(--very-dark-blue-footer-text);
}
.footer__container{
    display: flex;
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
    gap: 0rem;

    width: 97rem;
}
.footer__logo_container{
}
.footer__logo{
    display: block;

    width: 10.5rem;
    height: 6rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__list_container{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: start;
}
.footer__title{
    font-weight: 500;

    color: white;
}
.footer__list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    margin: 0;
    padding: 0;
    margin-block-start: 2rem;
}
.footer__item{
    list-style:none;
}
.footer__item a{
    text-decoration: none;
    color: var(--grayish-blue-footer-text);
}

@media (hover:hover){
    .navbar__item:hover{
        text-decoration: underline;
    }
    .item__item:hover a{
        color: black !important;
    }
    .login__sign_up_button:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.226);
    }
    .frontpage__start_button:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.226);
    }
    .frontpage__learn_button:hover{
        color: var(--light-red);
        background-color: white;
    }
    .footer__item:hover{
        text-decoration: underline;
        text-decoration-color: white;
    }
}