@font-face {
    font-family: 'Overpass';
    src: url('../fonts/overpass/Overpass-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/overpass/Overpass-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
    font-weight: 400
    ;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
    font-weight: 700;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Overpass';
        src: url('../fonts/overpass/Overpass-VariableFont_wght.ttf') format('truetype supports variations'),
        url('../fonts/overpass/Overpass-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 400 700;
    }
}

:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red-hover: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);
    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-greyish-blue-body-text: hsl(207, 13%, 34%);
    --very-dark-blue-footer-text: hsl(240, 10%, 16%);

    --gradient-CTA-very-ligh-red: hsl(13, 100%, 72%);
    --gradient-CTA-light-red: hsl(353, 100%, 62%);

    --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
    --gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);
    
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-overpass: 'Overpass', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;

    font-size: 1.6rem;
    font-family: var(--font-overpass);

    background-color: greenyellow;
}

header{
    position: absolute;
    top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 2rem;

    background-color: red;
}
.header__logo{
    display: block;

    width: 10.5rem;
    height: 6rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.header__navbar{
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 3rem;
    width: 32rem;

    border-radius: 0.8rem;
    background-color: white;
}
.navbar__list{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 0;
    margin: 0;
    margin-block-end: 7rem;
}
.navbar__item{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;

    list-style: none;
    font-weight: 700;

    color: var(--very-dark-blue-headings);
}
.navbar__item_arrow{
    display: block;

    width: 1.5rem;
    height: 1.5rem;
    margin-inline-start: 1rem;
    
    background-image: url('../images/icon-arrow-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.item__list{
    display: unset;

    width: 100%;
    padding: 0;
    margin: 0;

    background-color: red;
}
.item__item{
    list-style: none;
}
.header__login_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}
.login__login_button{
    text-decoration: none;
    font-weight: 700;

    color: var(--very-dark-blue-headings);
}
.login__sign_up_button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 13rem;

    font-weight: 700;
    text-decoration: none;

    border-radius: 3rem;
    color: white;
    background: linear-gradient(90deg, var(--gradient-CTA-very-ligh-red) 0%, var(--gradient-CTA-light-red) 100%);
}
.header__burger_button{
    width: 5rem;
    height: 5rem;

    background-image: url('../images/icon-hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
main{
    display: none;
}
.main__frontpage{}
.frontpage__container{}
.frontpage__title{}
.frontpage__text{}
.frontpage__CTA_container{}
.frontpage__start_button{}
.frontpage__learn_button{}
.main__second_view{}
.second_view__container{}
.second_view__title{}
.second_view__information_container{}
.information_container__block{}
.information_container__title{}
.information_container__text{}
.second_view__image{}
.main__third_view{}
.third_view__container{}
.third_view__image{}
.third_view__information_container{}
.third_view__title{}
.third_view__text{}
.main__fourth_view{}
.fourth_view__container{}
.fourh_view__image{}
.fourth_view__information_container{}
footer{
    display: none;
}
.footer__container{}
.footer__logo_container{}
.footer__logo{}
.footer__list_container{}
.footer__title{}
.footer__list{}
.footer__item{}
